@import url('https://fonts.googleapis.com/earlyaccess/notosanstc.css');

@font-face {
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 400;
    src: url('https://fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Regular.woff2') format('woff2'),
         url('https://fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Regular.woff') format('woff'),
         url('https://fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 700;
    src: url('https://fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Bold.woff2') format('woff2'),
         url('https://fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Bold.woff') format('woff'),
         url('https://fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Bold.otf') format('opentype');
}

body {
    font-family: "Noto Sans TC", sans-serif;
    margin: 0px;
}

.navibar {
    display: flex; 
    justify-content: space-between;
    align-items: center; 
    margin: 5px; 
    max-width: 1200px;
    height: 54px;
    margin-right: auto;
    margin-left: auto;
}

.taipei-trip {
    margin-right: auto;
    display: flex;
    font-size: 30px;
    line-height: 34px;
    font-weight: 700;
    color: #448899;
    font-family: "Noto Sans TC", sans-serif;
    float: left;
    margin: 10px;
    cursor: pointer;
}

/* Ensure all elements that should have font-weight 700 */
.form-header, .form-group1 > div, .form-group2 > div, .form-group3 > div {
    font-weight: 700;
}

.menu:hover , .mrtBox:hover, .catBox:hover, .picture-container:hover, 
.attraction-left-arrow:hover, .attraction-right-arrow:hover, .calendar-button:hover,
.submit-button:hover {
    opacity: 0.5;
    cursor: pointer;
}

.footer {
    width: 100%;
    height: 104px;
    background-color: #757575;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-content-container {
    width: 234px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-content {
    font-family: "Noto Sans TC", sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 13.3px;
    text-align: left;
    color: #FFFFFF;
    width: 234px;
    height: 14px;
    top: 5px;
}

.calender-area {
    display: flex;
    height: 35px;
    width: 193px;
    background-color: #FFFFFF;
    align-items: center;
    justify-content: center;
}
/*
.calendar-button {
    background-image: url("/static/icon_calendar.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #FFFFFF;
    width: 24px;
    height: 24px;
    border: none;
    cursor: pointer;
}*/

.attraction-left-arrow, .attraction-right-arrow {
    cursor: pointer;
    width: 36px;
    height: 36px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

.attraction-left-arrow {
    left: 10px;
    background-image: url('/static/left arrow.png');
    background-size: cover;
}

.attraction-right-arrow {
    right: 10px;
    background-image: url('/static/right arrow.png');
    background-size: cover;
}

hr {
    height: 1px; 
    border: none; 
    background-color: #d7d6d6;
}

.top-hr{
    width: 100%;
}

.bottom-hr{
    position: relative; 
    margin-top: 40px; 
    margin-left: auto; 
    margin-right: auto; 
    max-width: 1200px; 
    width:100%;
}

.booking-container {
    /*position: relative;*/
    margin-top: 50px; 
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px; 
    width:100%;
    display: flex; 
    height: 400px;
    /*left: 50%; 
    transform: translateX(-50%);*/
    box-sizing: border-box;
    align-items: center;
    justify-content: space-between;
}

.booking-image-container {
    max-width: 540px;
    height: 400px;
    display: flex;
    overflow: hidden;
    position: relative;
}

.booking-image {
    flex-shrink: 0;
    width: 540px;
    height: 400px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 5px;
}

.attraction-content-container {
    width: 600px;
    height: auto;
    display: flex;
    flex-direction: column;
}

.attraction-name-container {
    height: 33px;
    font-weight: 700;
    font-size: 24px;
    color: #666666;
    line-height: 24px;
    font-family: "Noto Sans TC", sans-serif;
}

.cat-container {
    height: 22px;
    font-weight: 400;
    font-size: 16px;
    color: #666666;
    line-height: 13.3px;
    margin-bottom: 20px;
    margin-top: 15px;
    width: 600px;
    font-family: "Noto Sans TC", sans-serif;
}

.booking-area {
    width: 600px;
    height: 302px;
    background-color: #E8E8E8;
}

.form-header, .form-parah, .form-group1, .form-group2, .form-group3 {
    text-align: left;
    color: #666666;
    font-size: 16px;
    width: 560px;
    font-family: "Noto Sans TC", sans-serif;
    align-items: center;
    display: flex;
    margin-top: 15px;
    margin-left: 20px;
}

.form-header {
    height: 22px;
    font-weight: 700;
    line-height: 13.3px;
}

.form-parah {
    height: 24px;
    font-weight: 400; 
    font-size: 16px;
    line-height: 13.3px;
}

.form-group1 {
    height: 35px;
}

.form-group2 label {
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    margin-right: 5px;
}

input[type="radio"] {
    width: 22px;
    height: 22px;
    display: none;
}

.form-group2 label:before {
    content: '';
    width: 22px;
    height: 22px;
    border: none;
    background-color: #FFFFFF;
    border-radius: 50%;
    position: initial;
    justify-content: center;
    align-content: center;
    z-index: auto;
}

input[type="radio"]:checked + label:before {
    background-color: #FFFFFF;
}

input[type="radio"]:checked + label:after {
    content: '';
    width: 18px;
    height: 18px;
    background-color: #448899;
    border-radius: 50%;
    position: absolute;
    left: 8px;
    top: 2px;
}

#date {
    height: 25px;
    width: 149px;
    border: none;
    font-family: "Noto Sans TC", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 13.3px;
    text-align: left;
    outline: none;
    justify-content: center;
    display: flex;
}

#date::placeholder {
    color: #000000;
}

.form-group3 {
    height: 22px;
}

.submit-button {
    width: auto;
    height: 36px;
    align-content: center;
    border-radius: 5px;
    background-color: #448899;
    color: #FFFFFF;
    font-size: 19px;
    font-weight: 400;
    line-height: 16px;
    text-align: center;
    margin-top: 25px;
    margin-left: 20px;
    border: none;
    padding: 10px 20px 10px 20px;
}

.infors {
    position: relative;
    margin-top: 40px;
    margin-bottom: 80px;
    max-width: 1200px; 
    width:100%;
    left: 50%; 
    transform: translateX(-50%);
}

.description, .address-header, .address, .transport {
    color: #666666;
    margin: 10px;
    font-size: 16px;
    text-align: left;
    font-family: "Noto Sans TC", sans-serif;
}

.description {
    position: relative;
    font-weight: 400;
    line-height: 23.17px;
}

.address-header {
    margin-top: 30px;
    font-weight: 700;
    line-height: 13.3px;
}

.address, .transport {
    font-weight: 400;
    line-height: 23.17px;
}

.menu {
    height: 14px;
    font-size: 16px; 
    display: block;
    flex: auto;
    align-self: center;
    font-family: "Noto Sans TC", sans-serif;
    font-weight: 500;
    color: #666666;
    line-height: 13.3px;
    text-align: center;
}

.menu-bar {
    margin-left: auto;
    display: flex; 
    width: 175px; 
    height: 34px; 
    align-items: center;
    float: right;
}

.image-wrapper{
    box-sizing: border-box; 
    height: 400px; 
    position: relative;
    display: flex; 
    justify-content: center;
    float: left;
}

.carousel-indicators {
    position: absolute;
    bottom: 10px; /* 调整这个值以控制圆点距离图片底部的距离 */
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
}
  
.carousel-indicator {
    position: relative;
    width: 12px;
    height: 12px;
    margin: 5px;
    border-radius: 50%;
    background-color: #FFFFFF;
    cursor: pointer;
    opacity: 0.75;
    transition: background-color 0.3s ease; 
}

.carousel-indicator::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #FFFFFF; 
    transition: background-color 0.3s ease; 
}

.carousel-indicator.active::before {
    width: 10px; 
    height: 10px;
    background-color: #000000; 
    border: 2px;
    border-color: #FFFFFF;
    opacity: 0.75;
}

.popup-dialog {
    display: none;
    width: 340px;
    height: auto;
    position: absolute;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 6px;
    transition: max-height 0.3s ease-in-out; 
    background-color: #FFFFFF;
    box-shadow: 0px 4px 60px 0px #AAAAAA;
    z-index: 9999;
}

.popup-dialog.active { 
    height: auto;
}

.popup-dialog-header{
    width: 340px;
    height: 10px;
    background: linear-gradient(270deg, #337788 0%, #66AABB 100%);
    border-top-left-radius: 6px; 
    border-top-right-radius: 6px;
}

.login-signup-container{
    width: 310px;
    height: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
}

.login-area, .signup-area{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.popup-dialog-header-content{
    font-family:"Noto Sans TC", sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
    color: #666666;
    height: 27px;

}

.login-email, .login-password, .signup-name, .signup-email, .signup-password, .login-area button, .signup-area button, .signup-bottom-message{
    margin-top: 10px;
    height: 47px;
    max-width: 310px;
    width: 100%;
    align-items: center;
    box-sizing: border-box;
}

.login-email, .login-password, .signup-name, .signup-email, .signup-password, .signup-bottom-message{
    font-family:"Noto Sans TC", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 13.3px;
    text-align: left;
    color: #757575;
}

.login-result, .signup-result{
    display: none;
    height: 22px;
    align-items: center;
    justify-content: center; 
    margin-top: 10px;
    color: rgba(255, 55, 0, 0.956);
}

.switch-to-login, .switch-to-signup {
    height: 22px;
    display: flex; 
    align-items: center;
    justify-content: center; 
    margin-top: 10px;
    color: #666666;
    font-size: 16px;
    font-weight: 500;
    line-height: 13.3px;
    text-align: center;
}

.login-area button, .signup-area button{
    width: 100%;
    height: 47px;
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
    background-color: #448899;
    border: none;
    color: #FFFFFF;
    font-family:"Noto Sans TC", sans-serif;
    font-size: 19px;
    font-weight: 400;
    line-height: 16px;
    text-align: center;
}

.close-icon{
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 20px;
    right: 10px;
}

.close-icon:hover, .switch-to-login:hover, .switch-to-signup:hover, .login-area button:hover, .signup-area button:hover, .logout:hover{
    opacity: 0.5;
    cursor: pointer;
}

.logout{
    display: none;
}

body {
    margin:0px;
    font-family:"Noto Sans TC", sans-serif;
}

@media(max-width:1200px){
    .booking-container, .infors{
        max-width: 1200px;
        width: auto;
        height:auto;
        margin-top: 0px;
        margin-left: 10px;
        margin-right: 10px;
        left: 0;
        transform: none;
        justify-content: space-between;
    }

    .infors{
        margin-top: 40px;
    }

    .image-wrapper{
        width: 530px;
    }

    .attraction-content-container, .booking-area{
        width: 450px;
    }

    .form-header, .form-parah, .form-group1, .form-group2, .form-group3{
        width: auto;
    }

    .cat-container{
        position: initial;
        width: 100%;
        margin-top: 15px;
    }

    .bottom-hr{
        margin-left: 10px;
        margin-right: 10px;
        width: calc(100% - 20px)
    }

}

@media(max-width:1000px){
    .booking-container, .infors{
        max-width: 1000px;
        width: auto;
        height:auto;
        margin-top: 0px;
        margin-left: 10px;
        margin-right: 10px;
        left: 0;
        transform: none;
        justify-content: space-between;
    }

    .infors{
        margin-top: 40px;
    }

    .image-wrapper{
        max-width: 480px;
        width: 100%;
    }

    .attraction-content-container, .booking-area{
        max-width: 400px;
        width: 100%;
    }

    .form-header, .form-parah, .form-group1, .form-group2, .form-group3{
        width: auto;
    }

    .cat-container{
        width: 100%;
        margin-top: 15px;
    }

    .bottom-hr{
        margin-left: 10px;
        margin-right: 10px;
        width: calc(100% - 20px)
    }
}


@media(max-width:900px){
    .booking-container, .infors{
        max-width: 1000px;
        width: auto;
        height:auto;
        margin-top: 0px;
        margin-left: 10px;
        margin-right: 10px;
        transform: none;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 20px;
    }

    .booking-image-container{
        max-width: 600px;
        width: auto;
    }

    .booking-image{
        width: 600px;
    }

    .infors{
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .image-wrapper, .infors{
        max-width: 600px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .attraction-content-container, .booking-area{
        max-width: 580px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .form-header, .form-parah, .form-group1, .form-group2, .form-group3{
        width: auto;
    }

    .cat-container{
        width: 100%;
        margin-top: 15px;
    }

    .bottom-hr{
        margin-left: auto;
        margin-right: auto;
        max-width: 600px;
        width: 100%;
    }

    .top-hr{
        display: none;
    }
}

@media(max-width:600px){
    .booking-container{
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;
    }

    .attraction-content-container, .booking-area, .infors{
        max-width: 580px;
        margin-left: 0px;
        margin-right: 0px;
        width: 100%; 
        padding-left: 10px;  
        padding-right: 10px;
    }

    .infors{
        margin-bottom: 40px;
        padding: 0px;
        margin-left: auto;
        margin-right: auto;
        width: calc(100% - 20px);
        box-sizing: border-box;
    }

    .bottom-hr{
        margin-left: auto;
        margin-right: auto;
        max-width: 600px;
        width: calc(100% - 40px);
    }

    .booking-area{
        margin: 0px;
        box-sizing: border-box;
    }

    .booking-image, .booking-image-container{
        width: 100%;
        height: 350px;
    }

    .image-wrapper{
        height: 350px;
    }

    .form-parah{
        height: auto;
        line-height: 23.17px;
        margin-right: 20px;
    }

    .transport{
        word-break: break-all;
    }
}