@import url('https://fonts.googleapis.com/earlyaccess/notosanstc.css');

@font-face {
    font-family: 'Noto Sans TC';
    font-style: normal;
    src: url('https://fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Bold.woff2') format('woff2'),
         url('https://fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Bold.woff') format('woff'),
         url('https://fonts.gstatic.com/ea/notosanstc/v1/NotoSansTC-Bold.otf') format('opentype');
}
  
.navibar{
    display: flex; 
    justify-content: space-between;
    align-items: center; 
    margin:5px; 
    max-width: 1200px;
    height: 54px;
    margin-right: auto;
    margin-left: auto;
}

.taipei-trip{
    margin-right: auto;
    display: flex;
    font-size: 30px;
    line-height: 34px;
    font-weight: 700;
    color: #448899;
    font-family:"Noto Sans TC", sans-serif;
    float: left;
    left: 10px;
    cursor: pointer;
}

.left-container{
    width: 47px;
    height: 50px;
    padding: 9px 0px 9px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: contain;
}

.right-container{
    width: 47px;
    height: 50px;
    padding: 9px 15px 9px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: contain;
}

.left-arrow{
    width: 32px;
    height: 32px;
    background-image: url("/static/left arrow.png");
    background-size: contain;
    background-position: center;
    border: none; 
    outline: none; 
    background-color: transparent;
}

.left-arrow:hover, .menu:hover , .mrtBox:hover, .catBox:hover, .picture-container:hover, 
.right-arrow:hover, .attraction-left-arrow:hover, .attraction-right-arrow:hover, .calendar-button:hover,
.submit-button:hover{
    opacity: 0.5;
    cursor: pointer;
}

.right-arrow{
    width: 32px;
    height: 32px;
    background-image: url("/static/right arrow.png");
    background-size: contain;
    background-position: center;
    border: none; 
    outline: none; 
    background-color: transparent;
}

.attraction-left-arrow, .attraction-right-arrow {
    cursor: pointer;
    width: 36px;
    height: 36px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
  }
  
  .attraction-left-arrow {
    left: 25px;
    background-image: url('/static/left arrow.png');
    background-size: cover;
  }
  
  .attraction-right-arrow {
    left: 504px;
    background-image: url('/static/right arrow.png');
    background-size: cover;
  }

hr{
    height: 1px; 
    border: none; 
    background-color: #d7d6d6;
}

.booking-container{
    position: relative;
    margin-top: 50px; 
    width: 1200px; 
    display: flex; 
    height: 400px;
    left: 50%; 
    transform: translateX(-50%);
    align-items: center;
}

.booking-image-container{
    max-width: 540px;
    height: 400px;
    display: flex;
    overflow: hidden;
    position: relative;
    align-items: center;
    margin-left: 15px;
}

.booking-image{
    flex-shrink: 0;
    width: 540px;
    height: 400px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
    border-radius: 5px;
}

.attraction-content-container {
    width: 600px;
    height: 400px;
    position: absolute;
    left: 585px;
}

.attraction-name-container{
    height: 33px;
    font-weight: 700;
    font-size: 24px;
    color: #666666;
    line-height: 24px;
    font-family:"Noto Sans TC", sans-serif;
}

.cat-container{
    height: 22px;
    font-weight: 400;
    font-size: 16px;
    color: #666666;
    line-height: 13.3px;
    position: absolute;
    top: 48px;
    width: 600px;
    font-family:"Noto Sans TC", sans-serif;
}

.booking-area{
    position:absolute;
    top: 90px;
    width: 600px;
    height: 302px;
    background-color: #E8E8E8;
}

.form-header, .form-parah, .form-group1, .form-group2, .form-group3{
    text-align: left;
    color: #666666;
    font-size: 16px;
    width: 560px;
    font-family:"Noto Sans TC", sans-serif;
    align-items: center;
    display: flex;
}
.form-header{
    height: 22px;
    position: absolute;
    top: 15px;
    left: 20px;
    font-weight: 700;
    line-height: 13.3px;
}

.form-parah{
    height: 24px;
    top: 52px;
    left: 20px;
    position: absolute;
    font-weight: 400; 
    font-size: 16px;
    line-height: 13.3px;
}

.form-group1{
    height: 35px;
    top: 91px;
    left: 20px;
    position: absolute;
    display: flex;
}

.form-group2 {
    position: absolute;
    top: 141px;
    left: 20px;
  }
  
  .form-group2 label {
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    margin-right: 5px;
  }
  
  input[type="radio"] {
    width: 22px;
    height: 22px;
    display: none;
  }
  
  .form-group2 label:before {
    content: '';
    width: 22px;
    height: 22px;
    border: none;
    background-color: #FFFFFF;
    border-radius: 50%;
    position: relative;
    z-index: auto;
  }
  
  input[type="radio"]:checked + label:before {
    background-color: #FFFFFF;
  }
  
  input[type="radio"]:checked + label:after {
    content: '';
    width: 18px;
    height: 18px;
    background-color: #448899;
    border-radius: 50%;
    position: absolute;
    left: 8px;
    top: 2px;
  }
  

#date{
    height: 25px;
    width: 149px;
    border: none;
    font-family:"Noto Sans TC", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 13.3px;
    text-align: left;
    outline: none;;
    justify-content: center;
    display: flex
}

#date::placeholder{
    color: #000000;
}

.form-group3{
    height: 22px;
    top: 178px;
    left: 20px;
    position: absolute;
    display: flex;
}

.submit-button{
    width: 154px;
    height: 36px;
    top: 225px;
    left: 20px;
    align-content: center;
    border-radius: 5px;
    position: absolute;
    background-color: #448899;
    color: #FFFFFF;
    font-size: 19px;
    font-weight: 400;
    line-height: 16px;
    text-align: center;
}

.infors{
    position: relative;
    margin-top: 40px;
    margin-bottom: 80px;
    width: 1200px;
    left: 50%; 
    transform: translateX(-50%);
}

.description, .address-header, .address, .transport{
    color: #666666;
    margin: 10px;
    font-size: 16px;
    text-align: left;
    font-family:"Noto Sans TC", sans-serif;
}
.description{
    position: relative;
    font-weight: 400;
    line-height: 23.17px;
}

.address-header{
    margin-top: 30px;
    font-weight: 700;
    line-height: 13.3px;
}

.address, .transport{
    font-weight: 400;
    line-height: 23.17px;
}

.right-arrow{
    width: 32px;
    height: 32px;
    background-image: url("/static/right arrow.png");
    background-size: contain;
    background-position: center;
    border: none; 
    outline: none; 
    background-color: transparent;
}

.right-arrow:hover {
    opacity: 0.5;
}

.slide-container{
    width: 100%;
    height: 50px;
    overflow: hidden;
    display: flex;
    padding: 13px 10px 13px 10px;
    align-self: center;
    box-sizing: border-box;
}

.slide{
    display: flex;
    white-space: nowrap;
    padding: 5px 15px 5px 15px;
    margin-right: 4px;
    font-family:"Noto Sans TC", sans-serif;
    font-weight: 500;
    color: #000000;
    align-self: center;
    cursor: pointer;
}

.slide:hover{
    opacity: 0.5;
}

.menu-bar{
    margin-left: auto;
    display: flex; 
    width:175px; 
    height:34px; 
    align-items: center;
    float: right;
}

.menu{
    height: 14px;
    font-size: 16px; 
    display: block;
    flex:auto;
    align-self: center;
    font-family:"Noto Sans TC", sans-serif;
    font-weight: 500;
    color: #666666;
    line-height: 13.3px;
    text-align: center;
}

.headline-content{
    width: 1200px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
}

.headline-div1{
    display:block;
    color: #F8F8F8; 
    font-size: 28px; 
    line-height: 24px; 
    font-weight: 700;
    font-family:"Noto Sans TC", sans-serif;
    padding: 10px;
}

.headline-div2{
    display:block;
    color: #F8F8F8; 
    font-size: 16px; 
    line-height: 13.3px; 
    font-weight: 700;
    font-family:"Noto Sans TC", sans-serif;
    padding: 10px;
}

.headline-div3{
    display: flex;
    padding: 10px;
}

.searchbar, .login_email, .login_pwd{
    width: 400px;
    height: 46px;
    box-sizing: border-box;
    font-size: 20px;
    color: #666666;
    border: 1px solid;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    box-shadow: 0px 0px 20px 0px #AABBCC;
}

.content-container{
    padding:40px 0px 40px 0px;
    max-width: 1200px;
    margin-left: auto; 
    margin-right: auto;
}

.attractions{
    max-width: 1200px;
    margin: 15px;
    margin-left: auto; 
    margin-right: auto;
    box-sizing: border-box;
}

.slider{
    padding:0px 0px 20px 0px; 
    display: flex; 
    max-width: 1200px;
    height:70px; 
    align-items: center;
    box-sizing: border-box;
}

.pic_list{
    display:grid;
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap:30px;
    grid-row-gap:30px;
    justify-content: space-between;/*平均分配寬度，第一項和最後一項貼齊邊緣*/
    box-sizing: border-box;
}

.picture{
    display: flex;
    justify-content: flex-end; 
    align-items: flex-start; 
    width:100%;
    height: 197px; 
    position: relative; 
    background-size: cover;
    background-position: center;
    margin-top: auto;
    margin-left:auto;
    margin-right: auto;
    margin-bottom: auto;
    object-fit: cover;
    box-sizing: border-box;
}
.headline{
    height: 320px;
    font-size: 40px;
    font-weight: bold;
    align-items: center;
    height:250px;
    display: flex;
    background-image: url("/static/welcome.png");
    color: #f9f9f9;
    background-size: cover;
    background-repeat: no-repeat;
}
.title{
    height: 40px;
    box-sizing: border-box;
    position: absolute;
    right: 0px;
    left: 0px;
    bottom: 0px;
    padding:10px;
    background-color: rgba(25, 25, 25, 0.544);
    margin-left: auto; /* 在 Flexbox 中使用 margin 來實現自動填滿空間 */
    margin-right: auto; /* 在 Flexbox 中使用 margin 來實現自動填滿空間 */
    white-space: nowrap;
    text-overflow: ellipsis;/*將多餘的文字用...代替*/
    overflow:hidden;
    font-weight: bold;
    color:#ffffff;
    font-size: 16px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.301);
}

.title span {
    /*
    display: flex;
    align-items: center;
    justify-content: center;*/
    font-weight: 500;
    font-family:"Noto Sans TC", sans-serif;
    font-size: 16px;
    line-height: 13.3px;

  }

.white-box {
    background-color: #FFFFFF; 
    width: 100%; 
    box-sizing: border-box;
    height: 45px; 
    gap: 4px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.big-container{
    border: 1px solid ;
    color:#E8E8E8;
    border-radius: 5px;
    height: 242px;
    width: 270px;
    box-sizing: border-box;
    overflow: hidden;
}

.picture-container{
    height: 197px;
    width: 270px;
}

.mrtBox{
    position: relative;
    float: left;
    color: #757575;
    font-weight: 500;
    font-family:"Noto Sans TC", sans-serif;
    font-size: 16px;
    line-height: 13.3px;
    align-self: center;
}

.catBox{
    position: relative;
    float: right;
    color: #757575;
    font-weight: 500;
    font-family:"Noto Sans TC", sans-serif;
    font-size: 16px;
    line-height: 13.3px;
    align-self: center;
}
.searchbutton{
    width: 60px;
    height: 46px;
    box-sizing: border-box;
    background-image: url("/static/btn.png");
    border: 0px;
    cursor: pointer;
}

.searchbutton:hover{
    opacity: 0.85;
}

.phone-menu{
    display:none;
    text-align: center;
}

.footer{
    width: 100%;
    height: 104px;
    background-color: #757575;
    display:flex;
    align-items: center;
    justify-content: center;
}

.footer-content-container{
    width: 234px;
    height:24px;
    display:flex;
    align-items: center;
    justify-content: center;
}

.footer-content{
    font-family:"Noto Sans TC", sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 13.3px;
    text-align: left;
    color: #FFFFFF;
    width: 234px;
    height: 14px;
    top: 5px;
}

.calender-area{
    display: flex;
    height: 35px;
    width: 193px;
    background-color: #FFFFFF;
    align-items: center;
    justify-content: center;
}

.calendar-button{
    background-image: url("/static/icon_calendar.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #FFFFFF;
    width: 24px;
    height: 24px;
    border: none;
    cursor: pointer;
}

.popup-dialog {
    display: none;
    width: 340px;
    height: auto;
    position: absolute;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 6px;
    transition: max-height 0.3s ease-in-out; 
    background-color: #FFFFFF;
    box-shadow: 0px 4px 60px 0px #AAAAAA;
    z-index: 9999;
}

.popup-dialog.active { 
    height: auto;
}

.popup-dialog-header{
    width: 340px;
    height: 10px;
    background: linear-gradient(270deg, #337788 0%, #66AABB 100%);
    border-top-left-radius: 6px; 
    border-top-right-radius: 6px;
}

.login-signup-container{
    width: 310px;
    height: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
}

.login-area, .signup-area{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.popup-dialog-header-content{
    font-family:"Noto Sans TC", sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
    color: #666666;
    height: 27px;

}

.login-email, .login-password, .signup-name, .signup-email, .signup-password, .login-area button, .signup-area button, .signup-bottom-message{
    margin-top: 10px;
    height: 47px;
    max-width: 310px;
    width: 100%;
    align-items: center;
    box-sizing: border-box;
}

.login-email, .login-password, .signup-name, .signup-email, .signup-password, .signup-bottom-message{
    font-family:"Noto Sans TC", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 13.3px;
    text-align: left;
    color: #757575;
}

.login-result, .signup-result{
    display: none;
    height: 22px;
    align-items: center;
    justify-content: center; 
    margin-top: 10px;
    color: rgba(255, 55, 0, 0.956);
}

.switch-to-login, .switch-to-signup {
    height: 22px;
    display: flex; 
    align-items: center;
    justify-content: center; 
    margin-top: 10px;
    color: #666666;
    font-size: 16px;
    font-weight: 500;
    line-height: 13.3px;
    text-align: center;
}

.login-area button, .signup-area button{
    width: 100%;
    height: 47px;
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
    background-color: #448899;
    border: none;
    color: #FFFFFF;
    font-family:"Noto Sans TC", sans-serif;
    font-size: 19px;
    font-weight: 400;
    line-height: 16px;
    text-align: center;
}

.close-icon{
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 20px;
    right: 10px;
}

.close-icon:hover, .switch-to-login:hover, .switch-to-signup:hover, .login-area button:hover, .signup-area button:hover, .logout:hover{
    opacity: 0.5;
    cursor: pointer;
}

.logout{
    display: none;
}

body {
    margin:0px;
    font-family:"Noto Sans TC", sans-serif;
}

/*以上稱為電腦版設計，以下media部分為平板和手機板設計*/

@media(max-width:1200px){
    .navibar{
        justify-content: space-between;
    }

    .taipei-trip{
        margin: 10px;
    }

    .pic_list,.headline-content{
        flex-wrap: wrap;
    }

    .picture-container{
        width: 100%;
    }

    .picture, .big-container{
        width: auto;
    }

    .content-container, .navibar{
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .headline-content{
        max-width: 90%;
        margin-right: auto;
    }

    .slider, .attractions{
        max-width: 100%;
    }

    .pic_list{
        display:grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-row-gap:20px;
        justify-content: center;
        margin-top: auto;
        width:100%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media(max-width:900px){
    .pic_list{
        grid-template-columns: 1fr 1fr;
    }

    .content-container, .slider, .attractions, .navibar{
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media(max-width:600px){/*手機的螢幕寬度最大為500，最小為360px*/
    .pic_list{
        flex-wrap: wrap;
    }

    .content-container, .slider, .attractions, .navibar{
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .content-container{
        padding:20px 0px 20px 0px;
    }

    .pic_list{
        display:grid;
        grid-template-columns: 1fr;
        grid-row-gap:20px;
        justify-content: center;
        margin-top: auto;
        width:100%;
        margin-left: auto;
        margin-right: auto;
    }

    .searchbar{
        width: 225px;
        height: 46px;
    }

    .big-container{
        height: 280px;
        width: 89.444444444vw;
        margin-left: auto;
        margin-right: auto;
    }

    .picture, .picture-container{
        height: 235px;
        /*width: 89.444444444vw;*/
    }
}